### MAC OS ###
.DS_Store

### Eclipse ###
*.metadata
*.classpath
*.project
*.class
*.gitignore

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Other ###
*.tar
*.jar
/bin/
/lib/
*.pdf
