### MAC OS ###
.DS_Store

### Eclipse ###
*.metadata
*.classpath
*.project
*.class
*.gitignore

### Maven ###
*.mvn/wrapper/maven-wrapper.jar
*.cmd
*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Other ###
*.tar
*.jar
/bin/
/lib/
*.pdf
*.db
*.jsp
